body * {visibility:hidden;}
#ticket, #ticket * {visibility:visible !important;}
#ticket {position: absolute; left: 0; top: 0; width:100%; text-align:center; border:2px solid #434a54; text-align:center; padding:1em;}
#ticket h2 {display:block !important; color:#265e70;}
#ticket button {display:none;}
#ticket-number {font-size:30px; line-height:1.6em; color:#265e70;}