html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}body {line-height: 1;}ol, ul {list-style: none;}table {border-collapse: collapse;border-spacing: 0;}

* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
body {font-size:16px; font-family:Arial, Helvetica, sans-serif; line-height:1.4em; color:#272c31; background-color:#ccd1d9;}

h1, h2 {line-height:1.4em; margin-bottom:8px; font-weight:bold; color:#265e70;}
h1{font-size:36px;}
h2 {font-size:28px;}

.container {width:90%; max-width:1400px; margin:0 auto;}

.half + .half {margin-top:35px;}
@media screen and (min-width: 880px) {
	.half {width:48%; float:left;}
	.half + .half {float:right; margin:0;}
}

.clear {clear:both;}

header {text-align:center; padding:1em 0 2em;}

label {display:block; font-size:18px; font-weight:bold; line-height:1.5em;}
input, select {width:100%; border:none; font-family:Arial, Helvetica, sans-serif; font-size:20px; height:auto; padding:.5em .5em;}
.swal2-modal button.styled, button {background-color:#265e70 !important; padding:9px 40px; color:#fff; font-size:16px; margin:10px 0; display:inline-block; cursor:pointer; height:auto; width:auto; border:none !important; text-align:center; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; border-radius:0;}
.swal2-modal button.styled:hover, button:hover {color:#fff; background-color:#434a54 !important;}


#ticket {margin-top:50px; border:2px solid #434a54; text-align:center; padding:1em; display:none;}
#ticket h2 {display:none;}
#ticket-number {font-size:30px; line-height:1.6em; color:#434a54;}
